{% extends 'book/main.html' %}

{% block content %}
{% for i in item %}
<hr>
  <div  class="main">
      <div class="item">
          {% if i.photo %}
            <h1><img class="image" src="{{ i.photo.url }}" width="100" height="200"
                     align="left" vspace="5" hspace="5">{{ i.name }}</h1>
          {% endif %}
          <h2>Автор: {{ i.author }}</h2>
          <h3>Год публикации: {{ i.date_published }}</h3>
          <h3>Жанр: {{ i.category }}</h3>
          <div class="open">
              <p>Описание: {{ i.description }}</p>
              <button class="open">Читать далее...</button>
          </div>
      </div>
  </div>
<div  class="main">
    {% endfor %}
    {% endblock %}
 </div>