{% extends 'book/main.html' %}

{% block content %}
<style>

        .form-input {
          border-radius: 0.5rem;
          border: 1px solid black;
          padding: 0.1rem 0.5rem;
          background-color: #e3e3e3;
          font-family: math;
          font-size: 1rem;
          display: inline-block;
          float: right;
        }

        .label-reg {
          font-family: math;
          margin-right: 3rem;
          font-size: 1rem;
        }

        .bttnReg {
          background-color: #007bff;
          border-color: #007bff;
          display: inline-block;
          text-align: center;
          border: 1px solid transparent;
          padding: 0.1375rem 0.75rem;
          border-radius: 0.25rem;
          cursor: pointer;
          width:100%
        }

        .bttnReg:hover {
          color: #fff;
          background-color: #0069d9;
          border-color: #0062cc;
        }

        .bttnReg:focus {
          color: #fff;
          background-color: #007bff;
          border-color: #007bff;
        }
        .formReg {
          background-color: #95aebb;
          padding: 0 1rem 1rem 1rem;
          position: absolute;
          left: 50%;
          top: 35%;
          transform: translate(-50%, -50%);
          border: 3px solid black;
          border-radius: 1rem;
        }

</style>

<form class="formReg" method="post">
  {% csrf_token %}
  <h1 align="center" class="lblReg">Регистрация</h1>
  {% for f in form %}
  <p><label class="label-reg" for="{{ f.id_for_label }}">{{ f.label }}: </label>{{ f }}</p>
  <div class="form-error">{{ f.errors }}</div>
  {% endfor %}
  <button class="bttnReg" type="submit">Зарегистрироваться</button>
</form>

{% endblock %}