.login, .reg {
   	margin-left: 15px;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
   }

   button {
   	color: #fff;
   	background-color: #007bff;
    border-color: #007bff;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    cursor: pointer;
   }

   button:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
   }

   button:focus {
   	color: #fff;
    background-color: #007bff;
    border-color: #007bff;
   }

   .bot_line {
   	border: 2px solid black;
   }

   hr {
   	border: 1px solid black;
   }

   .item {
   text-shadow: #a4b6d1 1px 0 10px;
   }

   .header {
	display: flex;
   	justify-content: left;
    cursor: pointer;
   }

   .container {
   	display: flex;
   	justify-content: left;
    cursor: pointer;
    margin-left: auto
   }

   .text {
   	font-family: math;
    margin-right: 2rem;
    font-size: 2rem;
   }

   .input{
   	font-family: math;
    margin-right: .5rem;
    font-size: 1rem;
    height: 1.5rem;
    margin-top: .25rem;
   }

   .bot_menu {
   	font-family: math;
   }

   body {
   	background-image: linear-gradient(90deg, #d5e8a0, #2AA5A0);
   }

   .open {
   float: right;
   margin: .3rem;
   }

   .bot_menu{
   	font-family: math;
    margin-right: 2rem;
    font-size: 1rem;
   }

   .copyright{
   	font-family: math;
    margin-right: 2rem;
    font-size: 1rem;
   }